<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>267131557294-1jftcpe974scllfjad305qa6ir8he8pk.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.267131557294-1jftcpe974scllfjad305qa6ir8he8pk</string>
	<key>API_KEY</key>
	<string>AIzaSyDqnXqfuLm4G2RpNbwTp-VZ9KQxSauK2V8</string>
	<key>GCM_SENDER_ID</key>
	<string>267131557294</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.reactjs.native.example.assignment1</string>
	<key>PROJECT_ID</key>
	<string>react-native-9fc7e</string>
	<key>STORAGE_BUCKET</key>
	<string>react-native-9fc7e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:267131557294:ios:8da8c1f7ef600e2cea243f</string>
</dict>
</plist>